* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div button {
  padding: 15px 25px;
  margin: 30px;
  background-color: skyblue;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}
.one {
  grid-area: a;
  padding: 80px;
  background-color: #dc2626;
}
.two {
  grid-area: b;
  background-color: #eab308;
}
.three {
  grid-area: c;
  background-color: #16a34a;
}
.four {
  grid-area: d;
  padding: 30px;
  background-color: #0ea5e9;
}
.five {
  grid-area: e;
  padding: 30px;
  background-color: #0ea5e9;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  padding-left: 200px;
  padding-top: 150px;
  padding-right: 150px;
  width: 75%;
  margin: auto;
  gap: 8px;
  grid-template-areas:
    "a a a a b b"
    "a a a a b b"
    "c c c d d d"
    "c c c e e e";
}
@media (max-width: 600px) {
  .container {
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 600px) {
  .container {
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
